[Desktop Entry]
Name=Edge Bookmarks
Name[zh_CN]=Edge 书签
Comment=Search Microsoft Edge bookmarks
Comment[zh_CN]=搜索 Microsoft Edge 浏览器书签
Icon=internet-web-browser
Type=Service
X-KDE-ServiceTypes=Plasma/Runner

X-Plasma-API=DBus
X-Plasma-DBusRunner-Service=org.kde.plasma.runner.edgebookmarks
X-Plasma-DBusRunner-Path=/EdgeBookmarks

X-Plasma-Request-Actions-Once=false
X-KDE-PluginInfo-Name=edgebookmarks
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Author=Curtis Cao
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-EnabledByDefault=true
